* {
    box-sizing: border-box;

}

body {
    font-family: "Proxima Nova", sans-serif;
    margin: 0;
    list-style: none;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Regular_2607783814[2339].woff2);
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Semibold_3872794340.woff2);
    font-weight: 600;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Medium_2770618388[2258].woff2);
    font-weight: 400;
}

/* nav css */
nav {
    background:#F7A100;
    margin: 0%;
    padding-left: 13em;
    padding-right: 13em;
    /* padding-top: 1em; */
    height: 4em;
    color: #FFFFFF;
    font-size: 1em;   
    display: flex;
    flex-direction: row;
}

nav > img {
    width: 6em;
    position: absolute;
    left: 12%;
    top: 1em;
}

.menu {
    visibility: hidden;
}

.icoon {
    line-height: 0.17em;
    font-size: 3.5em;
    position: absolute;
    top: -1.04em;
    left: 0.2em;
    color: #ffffff;
}

.kopen {
    position: absolute;
    left:  18em;
    top: 0.7em;
}

.kopen > ul {
    visibility: hidden;
}

.huren {
    position: absolute;
    left:  22.5em;
    top: 0.7em;
}

.huren > ul {
    visibility: hidden;
}

.verkopen {
    position: absolute;
    left: 26.9em;
    top: 0.7em;
}

.verkopen > ul {
    visibility: hidden;
}

.mijnhuis {
    position: absolute;
    right:  28.2em;
    top: 1.5em;
}

.bewaardehuizen {
    position: absolute;
    right:  17em;
    top: 1.5em;
}

.mijnaccount {
    position: absolute;
    right:  3%;
    top: 0.7em;
}

.mijnaccount > ul {
    visibility: hidden;
}

/* einde nav */

/* filter styling */

.filtercontainer {
    background-color: #F7A100;
    border-radius: 8px;
    display: flex;
    height: 12em;
    margin: 3em 2.5em;
    max-width: 65em;
    min-width: 64em;
    padding-left: 1em;
    padding-right: 1em;
}

.filtercontainer > h1 {
    color: #ffffff;
    display: flex;
    position: relative;
    left: 13.5em;
    text-align: center;
    top: 0.37em;
    white-space: nowrap;
}

input {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -19em;
    height: 3.5em;
    margin-top: 9em;
    width: 17em;
}

.filtercontainer > button {
    background: #0071b3;
    box-shadow: none;
    color:#FFFFFF;
    cursor: pointer;
    height: 3.5em;
    padding:1em 3.6em;
    position: relative;
    top: 9em;
    left: -19em;
    transition: all 0.2s ease;
    white-space: nowrap;
}
.filtercontainer > button:hover {
    background: #006199;   
}

/* start commentsection styling */

.commentsectie {
    position: sticky;
    top: 30px;
    margin-top: -5em;
    margin-left: 101%;
    height: 19em;
    width: 11em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #EDEDED;
}

.textcomment {
    font-size: 0.9em;
    font-weight: 700;
    padding: 2em 1em;

}
.placecomment {
    background-color: #ffffff;
    width: 8.3em;
    margin: -1.4em 1em;
}
.uploadcomment {
    color:#FFFFFF;
    background: #F7A100;
    border-radius: 8px;
    box-shadow: none;
    transition: all 0.2s ease;
    white-space: nowrap;
    padding:1em;
    width: 10.5em;
    height: 3.5em;
    font-size: 0.8em;
    cursor: pointer;
    position: relative;
    left: 1.1em;
    top: 1.5em;
}
.uploadcomment:hover {
    background-color: #0071b3;
    color: #EDEDED;
}
/* lijstblokken styling */

.gesorteeerde-lijsten > ul{ 
    list-style: none;
    margin-left: 0;
    margin-top: -14em;
    display: grid;
    grid-template-columns: repeat(50, 1em);
    grid-template-rows: repeat(50, 1em);
    gap: 5px;
}

.toevoegenlijst {
    background-color: #EDEDED;
    border-radius: 20px;
    grid-column: 1 / 24;
    grid-row: 1 / 24;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}
.toevoegenlijst > p {
    font-size: 15em;
    display: grid;
    grid-template: subgrid / subgrid;
    position: relative;
    top: -0.7em;
    left: 0.7em;
}
.toevoegenlijst  a {
    font-size: 1.5em;
    white-space: nowrap;
    display: grid;
    grid-template: subgrid / subgrid;
    position: relative;
    top: 12.5em;
    left: 6.3em;
} 
.toevoegenlijst:hover {
    color: #FFFFFF;
    background-color: #F7A100;
    transition: 0.3s;
}

.Randstadhuizen {
    background-color: #EDEDED;
    border-radius: 20px;
    display: grid;
    grid: subgrid / subgrid;
    grid-column: 26 / 50;
    grid-row: 1 / 24;
}
.Randstadhuizen:hover{
    background-color: #F7A100;
    color: #FFFFFF;
    transition: 0.3s;
}
.randstadfoto img:nth-of-type(1){
    width: 11.5em;
    height: 10.65em;
    border-top-right-radius: 7%;
    object-fit: cover;
    display: grid;
    grid-template: subgrid /subgrid;
    position: relative;
    left: 19.7em;
}
.randstadfoto img:nth-of-type(2){
    width: 11.5em;
    height: 10.65em;
    object-fit: cover;
    grid-template: subgrid / subgrid;
    position: relative;
    left: 19.7em;
    top: 0.65em;
}
.randstadfoto img:nth-of-type(3){
    border-top-left-radius: 6%;
    width: 19em;
    height: 22em;
    object-fit: cover;
    grid-template: subgrid / subgrid;
    position: relative;
    top: -21.5em;

}
.Randstadhuizen h3 {
    font-size: 1.4em;  
    white-space: nowrap;
    display: grid;
    grid-template: subgrid / subgrid;
    position: relative;
    left: 0.91em;
    top: -15.33em;
}
.Randstadhuizen p:nth-of-type(1){ 
    white-space: nowrap;
    display: grid;
    grid-template: subgrid / subgrid;
    position: relative;
    top: 24.7em;
}
.Randstadhuizen p:nth-of-type(2){ 
    white-space: nowrap;
    font-size: 0.8em;
    display: grid;
    grid-template: subgrid / subgrid;
    position: relative;
    top: 33.05em;
    left: -1.5em;
}

.Europahuizen{
    background-color: #EDEDED;
    border-radius: 20px;
    display: grid;
    grid: subgrid / subgrid;
    grid-column: 1 /  24;
    grid-row: 25 / 50;
}
.Europahuizen:hover{
    background-color: #F7A100;
    color: #FFFFFF;
    transition: 0.3s;
}
.europafoto img:nth-of-type(1){
    border-top-right-radius: 12%;
    width: 10.23em;
    height: 12.17em;
    object-fit: cover;
    display: grid;
    grid-template: subgrid /subgrid;
    position: relative;
    left: 19.65em;
}
.europafoto img:nth-of-type(2){
    border-top-left-radius: 6.4%;
    width: 19em;
    height: 25em;
    object-fit: cover;
    display: grid;
    grid-template: subgrid /subgrid;
    position: relative;
    top: -12.15em;

}
.europafoto img:nth-of-type(3){
    width: 10.23em;
    height: 12.17em;
    object-fit: cover;
    display: grid;
    grid-template: subgrid /subgrid;
    position: relative;
    left: 19.65em;
    top: -24.33em;
}
.Europahuizen h3 {
    font-size: 1.4em;  
    white-space: nowrap;
    display: grid;
    grid-template: subgrid / subgrid;
    position: relative;
    left: 0.91em;
    top: -17.27em;
}
.Europahuizen p:nth-of-type(1){
    white-space: nowrap;
    display: grid;
    grid-template: subgrid / subgrid;
    position: relative;
    top: 27.7em;
    left: 0.04em;
}
.Europahuizen p:nth-of-type(2){
    font-size: 0.8em;
    white-space: nowrap;
    grid-template: subgrid / subgrid;
    position: relative;
    top: 36.6em;
    left: -1.51em;
}

.Geldhuizen {
    background-color: #EDEDED;
    border-radius: 20px;
    display: grid;
    grid: subgrid / subgrid;
    grid-column: 26 /  50;
    grid-row: 25 / 50;
}
.Geldhuizen:hover{
    background-color: #F7A100;
    color: #FFFFFF;
    transition: 0.3s;
}
.geldfoto img:nth-of-type(1){
    border-top-left-radius: 5.4%;
    width: 19em;
    height: 25em;
    object-fit: cover;
    display: grid;
    grid-template: subgrid /subgrid;
    position: relative;
    left: -1.29em;
}
.geldfoto img:nth-of-type(2){
    border-top-right-radius: 7%;
    width: 11.4em;
    height: 12.25em;
    object-fit: cover;   
    display: grid;
    grid-template: subgrid /subgrid;
    position: relative;
    top: -25em;
    left: 18.48em;
}
.geldfoto img:nth-of-type(3){
    width: 11.4em;
    height: 12.25em;
    object-fit: cover;
    display: grid;
    grid-template: subgrid /subgrid;
    position: relative;
    left: 18.48em;
    top: -24.5em;
} 
.Geldhuizen h3 {
    font-size: 1.4em;
    white-space: nowrap;
    display: grid;
    grid-template: subgrid / subgrid;
    position: relative;
    top: -17.45em;

}
.Geldhuizen p:nth-of-type(1){
    white-space: nowrap;
    display: grid;
    grid-template: subgrid / subgrid;
    position: relative;
    top: -25.2em;
    left: 0.04em;
}
.Geldhuizen p:nth-of-type(2){
    white-space: nowrap;
    font-size: 0.8em;
    display: grid;
    grid-template: subgrid / subgrid;
    position: relative;
    top: -32.5em;
    left: 0.15em;
}

/* tekst styling */
h1 {
    font-size: 1.8em;
    font-weight: 400;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 1em;
    color: black;
}

h4 {
    margin: 0em;
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
}
main{
    padding-left: 12%;
    padding-right: 12%; 
}
.allehuizen h2 {
  padding-top: 1.6em;  
  font-size: 2.3em;  
  font-weight: 600vh;
  text-align: center;
}

.allehuizen button {
    background-color: #F7A100;
    font-size: 0.8em;
    border-radius: 8px;
    height: 3em;
    box-shadow: none;
    margin-top: 0.5em;
    border-color: transparent;
    cursor: pointer;
    
}
.allehuizen button:hover {
    color: #ffffff;
    background-color: #0071B3;
    transition: 0.3s;
}
.huis-1 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom: solid;
    border-width: 0.1em;
}
.favoriete-huis-1 {
    display: grid;
    font-size: 1em;
}

.opmerking-plaatsen-1 {
    display: grid;
}

.huis-2 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom: solid;
    border-width: 0.1em;

}

.favoriete-huis-2 {
    display: grid;

}

.opmerking-plaatsen-2 {
    display: grid;
}

.huis-3 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom: solid;
    border-width: 0.1em;

}

.favoriete-huis-3 {
    display: grid;
}

.opmerking-plaatsen-3 {
    display: grid;
}

.huis-4 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom: solid;
    border-width: 0.1em;

}

.favoriete-huis-4 {
    display: grid;
}

.opmerking-plaatsen-4 {
    display: grid;
}

.huis-5 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-width: 0.1em;
}

.favoriete-huis-5 {
    display: grid;
}

.opmerking-plaatsen-5 {
    display: grid;
}

.huis-6 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom: solid;
    border-width: 0.1em;

} 

.favoriete-huis-6 {
    display: grid;
}

.opmerking-plaatsen-6 {
    display: grid;
}

.huis-7 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom: solid;
    border-width: 0.1em;

}

.favoriete-huis-7 {
    display: grid;
}

.opmerking-plaatsen-7 {
    display: grid;
}

.huis-8 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom: solid;
    border-width: 0.1em;

}

.favoriete-huis-8 {
    display: grid;
}

.opmerking-plaatsen-8 {
    display: grid;
}

.huis-9 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom: solid;
    border-width: 0.1em;

}

.favoriete-huis-9 {
    display: grid;
}

.opmerking-plaatsen-9 {
    display: grid;
}

.huis-10 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom: solid;
    border-width: 0.1em;

}

.favoriete-huis-10 {
    display: grid;
}

.opmerking-plaatsen-10 {
    display: grid;
}

.huis-11 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.favoriete-huis-11 {
    display: grid;
}

.opmerking-plaatsen-11 {
    display: grid;
}


textarea{ 
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #999999;
    border-radius: 8px;
    background-color: #EDEDED
    ;
    font-size: 16px;
    resize: none;
}

footer {
    padding: 1em;
    margin: 0.5em;
    background-color: #EDEDED;
}

.footer-menu-rij-1 {
    margin-left: 13em;
    margin-right: 13em;
    display: flex;
    justify-content: center;
    padding-top: 1.75rem;
    padding-left: 0em;  
    line-height: 2.25rem;
}

a {
    text-decoration: none;
    color: #0071b3;
    transition: color .25s cubic-bezier(.23,1,.32,1);
}

.kolom-1 {
    list-style: none;
    padding-left: 0em;
    padding-right: 2em;
}

.kolom-2 {
    list-style: none;
    padding-left: 0em;
    padding-right: 2em;
}

.kolom-3 {
    list-style: none;
    padding-left: 0em;
    padding-right: 2em;
}

.kolom-4 {
    list-style: none;
    padding-left: 0em;
    padding-right: 2em;
}


.footer-menu-rij-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    justify: center;
    list-style: none;
} 
 .bulletpoint {
    padding:0.5em;
 }


svg{
    margin:0.5em;
    background-color: #FFFFFF;
}

.footer-3 { 
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}
.copyright-2 {
    list-style: none;
    display: flex;
}
footer a{
    color: #0071b3;
    transition: color .25s cubic-bezier(.23,1.32,1);
}

/* link styling */
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
a:visited {
    color: rgb(255, 255, 255);
  }
/* link styling einde */

  @media (max-width:1050px){
  nav > img {
    position: absolute;
    left: 1em;
}

.kopen {
    position: absolute;
    left: 8em;
}
.huren {
    position: absolute;
    left: 11.5em;
}
.verkopen {
    position: absolute;
    left: 15em;
}
.mijnhuis {
    position: absolute;
    right: 20em;
}
.bewaardehuizen {
    position: absolute;
    right: 9em;
}
.mijnaccount {
    position: absolute;
    right: -5.5em;
}
.filtercontainer{
    margin-left: 0em;
}
.filtercontainer > h1 {
    display: flex;
    position: relative;
    left: 8.3em;
}
.filtercontainer{
    margin-left: 0em;
    margin-right: 0em;
    min-width: 49.8em;
    }

.commentsectie {
    width: 5.5em;
    height: 20em;
}
.placecomment {
    width: 4.3em;
    height: 8em;
}
.uploadcomment {
    width: 5.5em;
    height: 5em;
    white-space: normal;
}  

input {
    width: 11em;
}

.gesorteeerde-lijsten > ul{ 
    margin-left: -2.5em;
    }
.commentsectie {
    margin-left: 106%;
}

.toevoegenlijst {
    grid-column: 1 / 19;
    grid-row: 1 / 24; 
}
.toevoegenlijst > p {
    left: 0.45em;
    }
.toevoegenlijst  a { 
    left: 4em;
}

.Randstadhuizen {
    grid-column: 20 / 39;
    grid-row: 1 / 24; 
}
.randstadfoto img:nth-of-type(3){
    width: 15.3em;
}
.randstadfoto img:nth-of-type(1){
    width: 8.6em;
    left: 16.02em;
}
.randstadfoto img:nth-of-type(2){
    width: 8.6em;
    left: 16em;
}

.Europahuizen {
    grid-column: 1 / 19;
    grid-row: 25 / 50; 
}
.europafoto img:nth-of-type(2){
    width: 15.3em; 
}
.europafoto img:nth-of-type(1){
    width: 7.4em; 
    left: 15.9em;
}
.europafoto img:nth-of-type(3){
    width: 7.4em; 
    left: 15.9em;
}

.Geldhuizen {
    grid-column: 20 / 39;
    grid-row: 25 / 50;
}
.geldfoto img:nth-of-type(1){
    width: 15.3em;
}
.geldfoto img:nth-of-type(2){
    width: 8.52em;
    left: 14.81em;
}
.geldfoto img:nth-of-type(3){
    width: 8.52em;
    left: 14.81em;
}

  }
  @media (max-width: 709px) {

h1 {
    font-size: 1.4em;
}
nav { 
    padding: 0;
    display: flex;
    }

.icoon {
    visibility: visible;
    }
nav > img {
    position: absolute;
    left: 4em;
    width: 6.5em;
    }
.kopen {
    visibility: hidden;
    }
.huren {
    visibility: hidden;
    }
.verkopen {
    visibility: hidden;
    }
.mijnhuis {
    visibility: hidden;
    }
.bewaardehuizen {
    visibility: hidden;
    }
.mijnaccount {
    position: absolute;
    right: -6.5em;
    }

.filtercontainer{
    margin-left: 0em;
    margin-right: 0em;
    height: 14em;
    min-width: 19.8em;
    }

.filtercontainer > h1 {
    font-size: 2em;
    display: flex;
    position: relative;
    left: 0.6em;
    }
input {
    display: flex;
    flex-wrap: wrap;
    width: 4.5em;
    position: relative;
    left: -20.6em;
}
.filtercontainer > button {
    position: relative;
    left: -43.1em;
    top: 12.3em;
    width: max-content;
    padding: 1em 9.97em;
}
.commentsectie {
    display: none;
    }

.gesorteeerde-lijsten > ul{ 
    margin-top: 1.7em;
    margin-left: -2.5em;
    display: grid;
    grid-template-columns: repeat(50, 1em);
    grid-template-rows: repeat(100, 1em);
    }
.toevoegenlijst {
    grid-column: 1 / 16;
    grid-row: 1 / 24;
    display: grid;
    }
.toevoegenlijst > p {
    left: 0.31em;
    }
.toevoegenlijst  a { 
    left: 2.5em;
}

.Randstadhuizen {
    display: grid;
    grid: subgrid / subgrid;
    grid-column: 1 /  16;
    grid-row: 25 / 49;
    }
.randstadfoto img:nth-of-type(3){
    width: 12em;  
    }
.randstadfoto img:nth-of-type(1){
    width: 6.6em;
    left: 12.8em;
}
.randstadfoto img:nth-of-type(2){
    width: 6.6em; 
    left: 12.8em;
}

.Europahuizen {
    display: grid;
    grid: subgrid / subgrid;
    grid-column: 1 /  16;
    grid-row: 50 / 74;
    }
.europafoto img:nth-of-type(2){ 
    width: 12em;
}
.europafoto img:nth-of-type(1){
    width: 6.56em;
    left: 12.8em;  
}
.europafoto img:nth-of-type(3){
    width: 6.56em;
    left: 12.8em;  
}
.Europahuizen h3 {
    top: -17.5em
}
.Europahuizen p:nth-of-type(1){
    top: 27.4em;
}
.Europahuizen p:nth-of-type(2){
    top: 36.3em;
}

.Geldhuizen {
    display: grid;
    grid: subgrid / subgrid;
    grid-column: 1 /  16;
    grid-row: 75 / 100;
    }
.geldfoto img:nth-of-type(1){
    width: 12.2em;
    }
.geldfoto img:nth-of-type(2){
    width: 6.31em;
    left: 11.8em;  
    }
.geldfoto img:nth-of-type(3){
    width: 6.31em;
    left: 11.8em;  
    }
  }