* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Regular_2607783814[2339].woff2);
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Semibold_3872794340.woff2);
    font-weight: 600;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Medium_2770618388[2258].woff2);
    font-weight: 400;
}

/* nav-styling */

header {
    background: #F7A100;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    height: 4em;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 2em;
    gap: 30px;
}

.heart, .account-human{
    color: #fff;
    height: 2em;

    margin: auto 5px;
 
}
.heart:hover {
    color: #f60505;

}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

body {
    font-family: "Proxima Nova", sans-serif;
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    justify-content: center;
}
.filter-container {
    height: 15em;
    justify-content: center;
}

/* styling-listcontainer */

.list-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, 10em);
    grid-template-rows: repeat(3, 15em);
    gap: 2em;
}

.list-container > article {
    background-color: #EDEDED;
    width: 10em;
    overflow: hidden;
    position: relative;
    border-bottom: 1em solid #de9000;
}

.list-container article:nth-of-type(1) {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.list-container article:nth-of-type(2) {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}
.list-container article:nth-of-type(3) {
    display: grid;
    grid-column: 1 / 1 ;
    grid-row: 2 / 2;
}
.list-container article:nth-of-type(4) {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}
.list-container article:nth-of-type(5) {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}
.list-container article:nth-of-type(5) {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

.list-container > article:hover {
    background-color: #dedede;
    transition: 0.4s ease-in;
}

.list-container img {
    flex-direction: column;
    height: 9em;
    position: relative;
}

.list-container img:nth-of-type(1){
    width: 5.5em;
    object-fit: cover;
}
.list-container img:nth-of-type(2){
    width: 4.15em;
    height: 4.3em;
    object-fit: cover;
    overflow: hidden;
}
.list-container img:nth-of-type(3){
    width: 4.15em;
    height: 4.3em;
    object-fit: cover;
    position: absolute;
    right: .05em;
}

.list-container h2 {
    color: #333;
    padding-left: .35em;
    padding-top: .25em;
}

.list-info {
    color: #333;
    display: flex;
    flex-direction: row;
    padding-left: .35em;
    padding-top: .5em;
    gap: .5em;
}

.heart-list {
    color: hsl(39, 100%, 44%);
}

.accounthuman-list {
    color: #de9000;
    height: 2em;
    padding-bottom: .6em;

}

.add-list {
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.add-list h2 {
    justify-content: center;
    margin: 0em .8em;
    padding: 0 .2em;
    text-align: center;
    white-space: break-spaces;
    color: #333;
}
.add-list p {
    font-size: 8em;
    font-weight: 600;
    color: #333;
    padding-left: .39em;
}

/* mediaquery nav */

@media (max-width:578px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        background-color: #de9000;
        flex-direction: column;
        gap: 0;
        left: -100%;
        position: absolute;
        text-align: center;
        top: 60px;
        transition: 0.8s;
        width: 100%;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}