* {
    box-sizing: border-box;

}

/* nav css */
nav {
    background:#F7A100;
    margin: 0%;
    padding-left: 13em;
    padding-right: 13em;
    /* padding-top: 1em; */
    height: 4em;
    color: #FFFFFF;
    font-size: 1em;   
    display: flex;
    flex-direction: row;
}

nav > img {
    width: 6em;
    position: absolute;
    left: 12%;
    top: 1em;
}

.menu {
    visibility: hidden;
}

.icoon {
    line-height: 0.17em;
    font-size: 3.5em;
    position: absolute;
    top: -1.04em;
    left: 0.2em;
    color: #ffffff;
}

.kopen {
    position: absolute;
    left:  18em;
    top: 0.7em;
}

.kopen > ul {
    visibility: hidden;
}

.huren {
    position: absolute;
    left:  22.5em;
    top: 0.7em;
}

.huren > ul {
    visibility: hidden;
}

.verkopen {
    position: absolute;
    left: 26.9em;
    top: 0.7em;
}

.verkopen > ul {
    visibility: hidden;
}

.mijnhuis {
    position: absolute;
    right:  28.2em;
    top: 1.5em;
}

.bewaardehuizen {
    position: absolute;
    right:  17em;
    top: 1.5em;
}

.mijnaccount {
    position: absolute;
    right:  3%;
    top: 0.7em;
}

.mijnaccount > ul {
    visibility: hidden;
}

h2 {
    font-size: 1em;
}

nav > a {
    color: #FFFFFF;
}
/* einde nav */

body {
    font-family: "Proxima Nova", sans-serif;
    
    margin: 0;
}

@font-face {
    font-family: "Proxima Nova", sans-serif;
    src: url(../assets/AnyConv.com__ProximaNova-Regular_2607783814[2260].woff) format('woff'); 

}

@font-face {
    font-family: "Proxima Nova", sans-serif;
    src: url(../assets/AnyConv.com__ProximaNova-Bold_1760577842[2252].woff) format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Medium_2770618388[2258].woff2);
    font-weight: 400;
}


main{
    padding-left: 12em;
    padding-right: 12em;
}

/* gebruikers/ gebruikertoevoegen button */

form {
    text-align: center;
}
form > button {
    color:#FFFFFF;
    background: #0071b3;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.2s ease;
    padding:1em;
    cursor: pointer;
}

form > button:active {
    transform: scale(0.96);
}

.popup {
    width: 25em;
    background: #EDEDED;
    border-radius: 8px;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 1em;
    color: black;
    visibility: hidden;
    transition: transform 0.4s. top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    color: #999999;
    background-color: transparent;
    border: 0em;
    font-size: 2em;
    position: absolute;
    right: 0em;
    top: -1em;
    transition: all 0.2 ease-in;
}

.close-button:hover {
    color:#F7A100;
    background-color: transparent;
}
/* main/ favorietenlijst */

h3 {
    font-size: 3em; 
    text-align: center;
}

h4 {
    margin: 0em;
    font-size: 1.5em;
    color: #0071b3;
}

h5 {
    font-size: 1em;
}

.makelaar {
    color: #0071b3;
}

.huis-1 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-width: 0.1em;
}
.favoriete-huis-1 {
    display: grid;
    font-size: 1em;
}

.opmerking-plaatsen-1 {
    display: grid;
}

.huis-2 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-width: 0.1em;

}

.favoriete-huis-2 {
    display: grid;

}

.opmerking-plaatsen-2 {
    display: grid;
}

.huis-3 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-width: 0.1em;

}

.favoriete-huis-3 {
    display: grid;
}

.opmerking-plaatsen-3 {
    display: grid;
}

.huis-4 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-width: 0.1em;

}

.favoriete-huis-4 {
    display: grid;
}

.opmerking-plaatsen-4 {
    display: grid;
}

.huis-5 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-width: 0.1em;
}

.favoriete-huis-5 {
    display: grid;
}

.opmerking-plaatsen-5 {
    display: grid;
}

.huis-6 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-width: 0.1em;

} 

.favoriete-huis-6 {
    display: grid;
}

.opmerking-plaatsen-6 {
    display: grid;
}

.huis-7 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-width: 0.1em;

}

.favoriete-huis-7 {
    display: grid;
}

.opmerking-plaatsen-7 {
    display: grid;
}

.huis-8 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-width: 0.1em;

}

.favoriete-huis-8 {
    display: grid;
}

.opmerking-plaatsen-8 {
    display: grid;
}

.huis-9 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-width: 0.1em;

}

.favoriete-huis-9 {
    display: grid;
}

.opmerking-plaatsen-9 {
    display: grid;
}

.huis-10 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-color: #ccc;
    border-bottom-style: solid;
    border-width: 0.1em;

}

.favoriete-huis-10 {
    display: grid;
}

.opmerking-plaatsen-10 {
    display: grid;
}

.huis-11 {
    display: flex;
    justify-content: space-between;
    margin: 0em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.favoriete-huis-11 {
    display: grid;
}

.opmerking-plaatsen-11 {
    display: grid;
}


textarea{ 
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #999999;
    border-radius: 8px;
    background-color: #EDEDED;
    font-size: 16px;
    resize: none;
}
img {
    border-radius: 8px;
}

button {
    background:#F7A100;
    border-color: transparent;
    box-shadow: none;
    border-radius: 8px;
    height: 3em;
    color: #333333;
    font-size: 0.8em;
    margin: 0.5em;
    cursor: pointer;
    }


button:hover {
background: #0071b3;
color: #EDEDED;
    }

/* footer */

footer {
    padding: 1em;
    margin: 0.5em;
    background-color: #EDEDED;
}

.footer-menu-rij-1 {
    margin-left: 13em;
    margin-right: 13em;
    display: flex;
    justify-content: center;
    padding-top: 1.75rem;
    padding-left: 0em;  
    line-height: 2.25rem;
}

a {
    text-decoration: none;
    color: #0071b3;
    transition: color .25s cubic-bezier(.23,1,.32,1);
}

.kolom-1 {
    list-style: none;
    padding-left: 0em;
    padding-right: 2em;
}

.kolom-2 {
    list-style: none;
    padding-left: 0em;
    padding-right: 2em;
}

.kolom-3 {
    list-style: none;
    padding-left: 0em;
    padding-right: 2em;
}

.kolom-4 {
    list-style: none;
    padding-left: 0em;
    padding-right: 2em;
}


.footer-menu-rij-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    justify: center;
    list-style: none;
} 
 .bulletpoint {
    padding:0.5em;
 }


svg{
    margin:0.5em;
    background-color: #FFFFFF;
}


.footer-3 { 
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}
.copyright-2 {
    list-style: none;
    display: flex;
}

@media (max-width:1050px){
  nav > img {
    position: absolute;
    left: 1em;
}

.kopen {
    position: absolute;
    left: 8em;
}
.huren {
    position: absolute;
    left: 11.5em;
}
.verkopen {
    position: absolute;
    left: 15em;
}
.mijnhuis {
    position: absolute;
    right: 20em;
}
.bewaardehuizen {
    position: absolute;
    right: 9em;
}
.mijnaccount {
    position: absolute;
    right: -5.5em;
}
.filtercontainer{
    margin-left: 0;
}
.commentsectie {
    margin-left: 87.5%;
}
}

  @media (max-width: 709px) {

    h1 {
        font-size: 1.4em;
    }
    nav { 
        padding: 0;
        display: flex;
    }
    /* .menu {
        visibility: hidden;
    }
    .menu > ul {
        visibility: hidden;
    }
    .menu > h2 {
        visibility: hidden;
    }
    .menu > a {
        visibility: hidden;
    } */
    .icoon {
        visibility: visible;
    }
    nav > img {
        position: absolute;
        left: 4em;
        width: 6.5em;
    }
    .kopen {
        visibility: hidden;
    }
    .huren {
        visibility: hidden;
    }
    .verkopen {
        visibility: hidden;
    }
    .mijnhuis {
        visibility: hidden;
    }
    .bewaardehuizen {
        visibility: hidden;
    }
    .mijnaccount {
        position: absolute;
        right: -6.5em;
    }

    .filtercontainer{
        margin-left: 0;
    }
    .commentsectie {
        margin-left: 95%;
    }
  }












